@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 60%;
  background: #e19b29;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 15px;
  width: 65%;
  background: #f6d466;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #f54526;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 60px;
  width: 70px;
  background: #965e36;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 24px;
  width: 68%;
  background: #ad370b;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 30px;
  width: 50%;
  background: #3aa26c;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #5ec08d;
}

.onion {
  width: 40%;
  background-color: #850cb5;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.lettuce {
  background-color: yellowgreen;
    width:65%;
    height: 20px;
}

.jalapeno {
  background-color: darkgreen;
  width: 30%;
  height: 23px;
  display: inline-block;
  vertical-align: top;
}


.bun-bottom {
  height: 35px;
  width: 60%;
  background: #e19b29;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #100f0f;
  border-radius: 20px 20px 200px 200px;
}

.bun-top2 {
  height: 70px;
  width: 60%;
  background: #9623a2;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese2 {
  height: 15px;
  width: 65%;
  background: #e7e4da;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato2 {
  height: 25px;
  width: 50%;
  background-color: #f54526;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball2 {
  height: 60px;
  width: 70px;
  background: #965e36;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty2 {
  height: 24px;
  width: 68%;
  background: #c9927e;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle2 {
  height: 30px;
  width: 50%;
  background: #3ac67d;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion2 {
  width: 40%;
  background-color: #ff9510;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.lettuce2 {
  background-color: #dbeeb4;
    width:65%;
    height: 20px;
}

.jalapeno2 {
  background-color: #f30a15;
  width: 30%;
  height: 23px;
  display: inline-block;
  vertical-align: top;
}


.bun-bottom2 {
  height: 35px;
  width: 60%;
  background: #c5b8cf;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}